{% extends 'base.html.twig' %}

{% block title %}Liste des Commandes
{% endblock %}

{% block body %}
	<div class="container">
		<h2 class="mt-5">Liste des nouvelles Commandes</h2>
		<hr/>
		{# le contenu de commandes ici #}

		<table class="table table-striped table-bordered">
			<thead class="thead-dark">
				<tr>
					<th>*</th>
					<th>Numéro de Commande</th>
					<th>Id Client</th>
					<th>Montant</th>
					<th>Devise</th>
				</tr>
			</thead>
			<tbody>
				{% if orders is empty %}
					<tr>
						<td colspan="5">Aucune commande n'a été trouvée.</td>
					</tr>
				{% else %}
					{% set index = 1 %}
					{% for order in orders.results %}
						<tr>
							<td>{{ index }}</td>
							<td>{{ order.OrderNumber }}</td>
							<td>{{ order.DeliverTo }}</td>
							<td>{{ order.Amount }}</td>
							<td>{{ order.Currency }}</td>
						</tr>
						{% set index = index + 1 %}
					{% endfor %}
				{% endif %}
			</tbody>
		</table>


		{# Formulaire pour déclencher le flow orders_to_csv #}
		<form action="{{ path('flow_orders_to_csv') }}" method="GET">
			<button class="btn btn-success" type="submit">Générer le CSV des nouvelles commandes</button>
		</form>
	</div>
{% endblock %}
